*.apk
*.aab
*.aar
*.dex
*.class
.gradle/
build/
local.properties
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/
*.hprof
capacitor-cordova-android-plugins/
app/src/main/assets/public/
app/src/main/assets/capacitor.config.json
app/src/main/assets/capacitor.plugins.json
app/src/main/res/xml/config.xml
